Source: obcast
Section: web
Priority: optional
Maintainer: p1ncet <p1ncet@mail.ru>
Build-Depends: debhelper (>= 8.0.0), php7-dev
Standards-Version: 3.9.2
Homepage: https://github.com/p1ncet/obcast

Package: obcast
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php7:Depends}
Description: It allows to cast an object to boolean
